*{
    font-family: 'Ubuntu', sans-serif;
 }

/* Estilos para el menú de navegación */
ul {
    /* Probar funcionalidad y estetica
    background: rgb(0,99,11);
    background: radial-gradient(circle, rgba(0,99,11,1) 20%, rgba(0,12,132,1) 86%); */ 
    background-image: url(/assets/img/fondo-tl-002.jpg);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgreen;
    
}


li {
    float: left;
    border-right: 1px solid transparent;
    
       
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    
}

/* Cambiar el fondo del enlace cuando el mouse está encima menos Inicio */
li a:hover:not(.active){
    background-color: transparent;
    opacity: 0.7;
}

.active{
    background-color: darkblue;
}

/* Imagen fondo */
.fondo{
    
    background-image: url(/assets/img/fondo-tl-002.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;

}


/* Estilo formulario */
.formu{
    background: transparent;
    margin: 30px;
    box-sizing: border-box;
        
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    opacity: 0.6;
    border-radius: 5px;
    color: black ;

}

/* Estilo botón */
.button {
    background-color: transparent;
    border: none;
    color: white;
    margin: 3px;
    padding: 5px;
    text-align: bottom;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    resize: none;
    
  }

  .button:hover {
    background-color: transparent;
    color: black;
  }

/* Estilos para el contenido principal */
h1 {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px;
    text-align: justify;
    background-color: white;
    color:black;
    opacity: 0.6;
    border-radius: 5px;
}

/* Estilos para el footer */

footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
