*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

ul {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}


li {
    float: left;
    border-right: 1px solid transparent;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    
}

/* Cambiar el fondo del enlace cuando el mouse está encima menos Inicio */
li a:hover:not(.active){
    background-color: transparent;
    opacity: 0.7;
}
/* contenido */
.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-image: url(/assets/img/fibra.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    }

/* Estilo formulario */
form {
    display: flex;
    margin: 20px;
}

/* Estilo botón */
button {
    background-color: gray;
    border: none;
    color: white;
    margin: 3px;
    padding: 5px;
    text-align: bottom;
    display: inline-block;
    font-size: 16px;
    resize: none;
    
}

.button:hover {
    background-color: white;
    filter:invert();
    font-size: 20px;
    color: white;
}

/* Estilos para el contenido principal */
h1 {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px;
    text-align: justify;
    background-color: transparent;
    color: white;
    opacity: 0.6;
    border-radius: 5px;
    word-wrap: break-word;
}

.formulario{
    display:flex;
    flex-direction: column;
    text-align: center;
    gap: 2px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    margin: 10px;
    background-color: transparent;
    opacity: 0.6;
    border-radius: 5px;
    color: white ;
    word-wrap: break-word;
}

.casilla{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: space-between;
    background-color: gray;
}

textarea {
    display: inline-flex;
    resize: none;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

