*{
    font-family: 'Ubuntu', sans-serif;
 }

/* Estilos para el menú de navegación */
ul {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

li {
    float: left;
    border-right: 1px solid transparent;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

/* Cambiar el fondo del enlace cuando el mouse está encima menos Inicio */
li a:hover:not(.active){
    background-color: transparent;
    opacity: 0.7;
}

/* Contenido */
.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-image: url(/assets/img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

/* Estilos para el contenido principal */
h1 {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    gap: 45px;
    margin-top: 2rem;   
    margin-left: 5rem; 
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
    justify-content: center;
}

.corpo {
    margin-left: 5rem;
    padding: 2rem;
    width: 450px;
    height: 650px;
    
}
  
footer{
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}