*{
    font-family: 'Ubuntu', sans-serif;
 }

/* Estilos para el menú de navegación */
ul {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

li {
    float: left;
    border-right: 1px solid transparent;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

/* Cambiar el fondo del enlace cuando el mouse está encima menos Inicio */
li a:hover:not(.active){
    background-color: transparent;
    opacity: 0.7;
}
/*logo*/
.logo-container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo-container img {
    width: 200px; /* Tamaño de la imagen del logo */
    height: auto;
    margin-right: 10px; /* Espacio entre el logo y el título */
    align-items: center;
}

/* Contenido */
.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-image: url(/assets/img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

/* Estilos para el contenido principal */
h1 {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

.container {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 25px;
    /* margin-top: 2rem; */  
    /* margin-left: 3rem; */
    /* margin-right: 5px; */
    margin: 0;
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    padding-right: 10px;
    justify-content: center;
}

.corpo {
    display: grid;
    margin: 0;
    margin-left: 10rem;
    padding-left: 5rem;
    padding: 0;
    width: 90%;
    height: auto;
    max-width: 450px;
    max-height: 650px;
    
    
}

section div p {
    display: grid;
    margin-right: 10rem;
    color: white;
    text-shadow: 1px 2px 2px gray;
    
    
}
  
footer{
    
    position: grid;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}