*{
    font-family: 'Ubuntu', sans-serif;
 }

ul{
    /* Probar funcionalidad y estetica
    background: rgb(0,99,11);
    background: radial-gradient(circle, rgba(0,99,11,1) 20%, rgba(0,12,132,1) 86%); */
    /*background-image: url(/assets/img/fondo-tl-002.jpg);*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: darkgreen;*/
        
}

li{
    float: left;
    border-right: 1px solid transparent;
    
}

/* li:last-child{
    border-right: none;
    border-left: 1px solid transparent;
} */

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    
}

/* .active{
    background-color: darkblue;
    
}
 */
li a:hover:not(.active){
    background-color: transparent;
    opacity: 0.7;
}

h1 {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

p{
    color: white;
}

.content{
    background-image: url(/assets/img/fibra.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    

}

.contenedor{
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;

    /* Estilos con Grid */
    display: grid;
    grid-template-columns: 3fr;
    gap: 20px;
    
}

.cont-images {
    /* Grid */
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 20px;
    

}
.card {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    
}

.card .textos {
    height: 100%;

    /* Flexbox */
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
}

.parrafos{
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}